@import "tailwindcss";

@theme {
    --color-galaxy-900: #0f172a;
    --color-galaxy-800: #1e293b;
    --color-galaxy-700: #334155;
    --color-accent-500: #3b82f6;
}

body {
    background-color: var(--color-galaxy-900);
    color: white;
}